@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    height: 100vh;
    background-image: url(../imagem/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Satisfy', cursive;
}

h1{
    font-size: 2.5em;
    padding-bottom: 10px;
}

header{
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.517);
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: 20px auto 0px auto;
}

h2{
    font-size: 2em;
    /*background-color: rgba(93, 154, 224, 0.65);*/
    background-image: linear-gradient(to right, rgba(93, 154, 224, 0.65), rgba(255, 255, 255, 0.5));
    padding: 2px;
    text-align: center;
}

section{
    max-width: 300px;
    margin: 0px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.517);
    border-radius: 0px 0px 5px 5px;
}

ul > li{
    list-style: none;
    display:flex;
    padding: 10px;
}

li .details{
    max-width: 240px;
    font-size: 18px;
    line-height: 21px;
}

h3{
    font-size: 1.5em;
    padding: 5px;
}
